<div class="row">
<div class="col-sm-12" style="background: #f1f1f1; margin: 5px 0">
  <p>Contenedores</p>
  <div class="row" style="background: #ffffff; margin: 5px 0">
    contenedor
    <div class="row" style="background: #c0c0c0; margin: 5px 0">
      row
      <div class="col-sm-12" style="background: #b0b0b0; margin: 5px 0">
        <div style="background: #f0f0f0">col-sm-12</div>
      </div>
    </div>
  </div>

  <div class="row" style="background: #ffffff; margin: 5px 0">
    contenedor
    <div class="row" style="background: #c0c0c0; margin: 5px 0">
      row
      <div class="col-sm-8" style="background: #b0b0b0; margin: 5px 0">
        <div style="background: #f0f0f0">col-sm-6</div>
      </div>
      <div class="col-sm-4" style="background: #b0b0b0; margin: 5px 0; padding-bottom: 15px">
        <div style="background: #f0f0f0">col-sm-4
          <div>block</div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>
